body {
	font-family: Calibri;
    background-color: lightblue;
    text-align: center;
    border: 3px solid grey;
}

h1 {
	text-align: center;
	transform:rotate(-90deg);
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    transform:rotate(90deg);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    transform:rotate(90deg);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

